        <div class="sidebar-wrapper">

		{{ partial "profile.html" . }}

		{{ if .IsTranslated }}
		{{ partial "translate.html" . }}
		{{ end }}

		{{ if .Site.Params.contact.enable }}
		{{ partial "contact.html" . }}
		{{ end }}

		{{ if .Site.Params.languages.enable }}
		{{ partial "languages.html" . }}
		{{ end }}

		{{ if .Site.Params.interests.enable }}
		{{ partial "interests.html" . }}
		{{ end }}

		{{ if .Site.Params.cares.enable }}
		{{ partial "cares.html" . }}
		{{ end }}

		{{ if .Site.Params.wonders.enable }}
		{{ partial "wonders.html" . }}
		{{ end }}
        </div><!--//sidebar-wrapper-->
